<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#create-user">Creat Users</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="form-add-new">
        <form action = "create-user" method = "POST" >
            <fieldset>
                <legend>Form add new users</legend>
                <dev class="input -group">
                    <lable>Email :</lable>
                    <input type="text" name = "email" /><br>
                </dev>
                <dev class="input -group">
                    <lable>Name :</lable>
                    <input type="text" name = "myname" /><br>
                </dev>
                <dev class="input -group">
                    <lable>City :</lable>
                    <input type="text" name = "city" /><br>
                </dev>
                <dev>
                    <button>Save</button>
                </dev>
            </fieldset>
        </form>

    </div>
</body>

</html>