<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="table-container">
        <div class = "title">List Users</div>

        <table id="customers">
            <tr>
                <th>ID</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>CITY</th>
                <th>ACTION</th>
            </tr>

            <% for(var i=0; i< listUsers.length ; i++) {%>
                <tr>
                    <td><%= listUsers[i].id %> </td>
                    <td><%= listUsers[i].name %></td>
                    <td><%= listUsers[i].email %></td>
                    <td><%= listUsers[i].city %></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
             <% } %>
            
            
        </table>
    </div>
</body>

</html>