<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhht</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <p>Hoang Trong Minh</p>
    <p id='demo'></p>
    <div>
        <img class="hoidanit" src="/images/asus.jpg">>
    </div>
</body>

</html>